<nav 
  class="sticky top-0 z-50 transition-all duration-300 border-b"
  [class.bg-green-950/80]="!isScrolled()"
  [class.backdrop-blur-sm]="!isScrolled()"
  [class.bg-green-950]="isScrolled()"
  [class.backdrop-blur-md]="isScrolled()"
  [class.dark:bg-black/80]="!isScrolled()"
  [class.dark:bg-black]="isScrolled()"
  [class.border-transparent]="!isScrolled()"
  [class.border-green-800/50]="isScrolled()"
  [class.dark:border-gray-800/50]="isScrolled()"
  >
  <div 
    class="container-fluid mx-auto px-6 flex justify-between items-center transition-all duration-300 max-w-7xl"
    [class.py-4]="!isScrolled()"
    [class.py-2]="isScrolled()">
    <div class="relative group cursor-pointer">
      <h1 class="text-3xl font-fancy font-bold tracking-wider text-white dark:text-gray-100">
        Mega Moringa
      </h1>
      </div>

    <div class="hidden md:flex items-center space-x-8">
      <a href="#" class="text-white dark:text-gray-200 relative group">
        <span>Products</span>
        <span class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-0 h-0.5 bg-green-500 dark:bg-white group-hover:w-full transition-all duration-300"></span>
      </a>
      <a href="#about" class="text-white dark:text-gray-200 relative group">
        <span>About</span>
        <span class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-0 h-0.5 bg-green-500 dark:bg-white group-hover:w-full transition-all duration-300"></span>
      </a>
      <button type="button" (click)="contactModalRequest.emit()" class="text-white dark:text-gray-200 relative group">
        <span>Contact Us</span>
        <span class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-0 h-0.5 bg-green-500 dark:bg-white group-hover:w-full transition-all duration-300"></span>
      </button>
    </div>
    <div class="flex items-center space-x-4 md:space-x-6">
      <button (click)="authModalRequest.emit()" class="hidden md:block text-white dark:text-gray-200 font-semibold hover:text-green-300 dark:hover:text-white transition-colors">
        Login
      </button>
      
      <div class="relative" [class.shake]="cartUpdated()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-white dark:text-gray-200 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
        @if (cartItemCount() > 0) {
          <span class="absolute -top-2 -right-2 bg-green-500 text-white dark:bg-gray-200 dark:text-black text-xs font-bold rounded-full h-5 w-5 flex items-center justify-center">
            {{ cartItemCount() }}
          </span>
        }
      </div>

      <app-theme-toggle></app-theme-toggle>
    </div>
  </div>
</nav>
